<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyDemoSuite" >
    <listeners>
        <listener class-name="util.ReportUtil" />
    </listeners>
    <test name="JavaScriptAlerts" parallel="tests">
        <classes>
            <class name="Tests.JavaScriptAlertsTests">
                <parameter name="browser" value="firefox"/>
                <methods>
                    <include name="verifyJavascriptAlertText"/>
                    <include name="verifyJavascriptAlertConfirmButton"/>
                    <include name="verifyJavascriptPromptBox"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
